@{
    Restaurant.Models.Repository.HomeRep ivm = new Restaurant.Models.Repository.HomeRep();
    var qivm = ivm.GetIndexHeaderSelect();
}

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="Landkarte" tabindex="-1" role="dialog" aria-labelledby="Kontak" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Landkarte</h5>
            </div>
            <div class="modal-body">
                <div class="py-0">
                    <iframe src="@qivm.EmbedLinkGoogleMap" style="width: 100%; min-height: 50vh; border:0;" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Schließen</button>
                <a href="@qivm.EmbedLinkGoogleMap" class="btn btn-secondary" target="_blank">Größere Karte ansehen</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->